node_modules/
*.log
*/tmp/
.git/
.gitignore
.idea/
.vscode/
.travis.yml
circle.yml
build.sh
Dockerfile
Dockerfile.template
docker-deploy.sh
docker-compose.yml
readme.md
.cache/
build/
_config.yml
release
README.md
icon.png
docs/
examples/
